@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@700&display=swap');

body {
    background-image: url("/WholeFoods3.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    height: calc(100vh - 80px);
    background-attachment: fixed;
}

.padding {
    padding: 2rem 0;
}

h6{
    text-align: center;
    
}

.number{
    background: white;
    border-radius: .25rem;
    padding: .1rem .3rem;
    border: .1rem solid rgb(82,104,83, 1)
}

/* .grocery{
    width: 30%;
    margin: 0 auto;
    z-index: 1;
    margin-left: 550px;
    
} */

img{
    width: 100%;
}

h2{
    font-family: 'Lusitana', serif;
    font-size: 6rem;
    color: rgb(255,255,255, 1);
    position: relative;
    top: 90px;
    padding: 0 1rem;
}


.wholeFoodsLogo{
    width: 18%;
    background-color: white;
    border-radius: 50%; 
    margin-top: 1rem;
    
}

.headLine{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

/* .title{
    display: flex;
    flex-direction: row;
    background: white;
    max-width: 750px;
    text-align: center;
} */

h4{
    text-align: center;
}

.card{
    -webkit-box-shadow: 10px 10px 20px 1px rgb(82,104,83, 1);
    -moz-box-shadow: 10px 10px 20px 1px rgb(82,104,83, 1);
     box-shadow: 10px 10px 20px 1px rgb(82,104,83, 1);
     background-color: rgb(174,211,184);
     border: .125rem solid rgb(82,104,83, 1)
}




.list-wrapper ul li {
    font-size: .9375rem;
    padding: .25rem 0;
    border-bottom: .063rem solid #f3f3f3;
    /* padding: .3rem;
    border: .1rem solid #f3f3f3;
    margin: .3rem; */
}

.list-wrapper ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0
}


.list-wrapper ul li .form-check {
    /* max-width: 90%; */
    margin: .10rem 0;  
}

.list-wrapper ul li .form-check label:hover {
    cursor: pointer
}

.list-wrapper input[type="checkbox"] {
    margin-right: 1rem;
}

.form-control {
    border: .063rem solid #f3f3f3; 
    font-weight: 400;
    font-size: 0.875rem;
    font-size: 1rem;
    border: .063rem solid #ced4da;
    border-radius: .125rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

.quantityItems{
    position: relative;
    text-align: center;
    left: 150px;
}


/* .list-wrapper ul li:last-child {
    border-bottom: none
} */



.list-wrapper .completed {
    text-decoration: line-through;
    text-decoration-color: #000
}

.completed .form-check {
    background: rgb(0,112,68, 1);
}

/* .categories{
    font-size: 1.2rem;
    display: flex;
    flex-direction: row; 
     */
/* } */

/* h5{
    padding-right: 250px;
} */


input[type="text"]:focus, input[type="number"]:focus{
    border-color: rgba(0,112,68, .8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 112, 68, 0.6);
    outline: 0 none;
}


/* .add-items input[type="text"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    background: transparent
    
} */



/* not sure what this is doing
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 0
} 

.pl-3,
.px-3 {
    padding-left: 1rem !important
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.list-wrapper ul li .form-check {
    max-width: 90%;
    margin-top: .25rem;
    margin-bottom: .25rem
}



 .list-wrapper {
    height: 100%;
    max-height: 100%
} 

.list-wrapper {
    height: 100%;
    max-height: 100%
}

.d-flex {
    display: flex !important
}





/* .list-wrapper .remove {
    cursor: pointer;
    font-size: 1.438rem;
    font-weight: 600;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 20px;
    text-align: center
} 

.btn {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 400;
    padding: .7rem 1.5rem;
    border-radius: 0.1275rem
}
*/

@media (max-width:1259px) {
    h2{
        font-size: 4.8rem;
        top: 80px;
    }
}

@media (max-width:1015px) {
    /* .padding {
        padding: 1rem 0; 
    } */

    h2{
        font-size: 4rem;
        top: 65px;
    }
}


@media (max-width:740.98px) {
    h2{
        font-size: 3.5rem;
        top: 55px
    }

  
}


@media (max-width:601px) {
    h2{
        font-size: 3rem;
        top: 45px;
    }
}


@media (max-width:480px) {
    h2{
        font-size: 2.5rem;
        top: 35px;
    }
}

@media (max-width:415px) {
    h2{
        font-size: 2rem;
        top: 30px;
    }
    .card{
        margin-left: 1rem;
    }
}

@media (max-width:280px) {
    h2{
        font-size: 1.5rem;
        top: 20px;
    }
    .card{
        margin-left: 2rem;
    }
}



/* position: relative;
top: 90px;
padding: 0 1rem; */


/* .headLine{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
} */

/* .add-items input[type="text"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    background: transparent
} */




.add-items .btn {
    margin-left: .5rem
}





.add-items {
    margin-bottom: 1.5rem;
    overflow: hidden
}



/* .add-items .btn,
.add-items .fc button,
.fc .add-items button,
.add-items .ajax-upload-dragdrop .ajax-file-upload,
.ajax-upload-dragdrop .add-items .ajax-file-upload,
.add-items .swal2-modal .swal2-buttonswrapper .swal2-styled,
.swal2-modal .swal2-buttonswrapper .add-items .swal2-styled,
.add-items .wizard>.actions a,
.wizard>.actions .add-items a {
    margin-left: .5rem
} */

/* .rtl .add-items .btn,
.rtl .add-items .fc button,
.fc .rtl .add-items button,
.rtl .add-items .ajax-upload-dragdrop .ajax-file-upload,
.ajax-upload-dragdrop .rtl .add-items .ajax-file-upload,
.rtl .add-items .swal2-modal .swal2-buttonswrapper .swal2-styled,
.swal2-modal .swal2-buttonswrapper .rtl .add-items .swal2-styled,
.rtl .add-items .wizard>.actions a,
.wizard>.actions .rtl .add-items a {
    margin-left: auto;
    margin-right: .5rem
} */










/* .list-wrapper ul li .form-check,
.list-wrapper ul li .form-check .form-check-label,
.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user .u-name,
.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user .u-designation,
.email-wrapper .mail-list-container .mail-list .content .sender-name,
.email-wrapper .message-body .attachments-sections ul li .details p.file-name,
.settings-panel .chat-list .list .info p {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap
} */

.form-check {
    position: relative;
    display: block;
    margin: .625rem 0;
    padding-left: 0
}

/* .list-wrapper ul li .form-check,
.list-wrapper ul li .form-check .form-check-label,
.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user .u-name,
.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user .u-designation,
.email-wrapper .mail-list-container .mail-list .content .sender-name,
.email-wrapper .message-body .attachments-sections ul li .details p.file-name,
.settings-panel .chat-list .list .info p {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap
} */

.form-check .form-check-label {
    min-height: 1.125rem;
    display: block;
    margin-left: 1.75rem;
    font-size: 0.875rem;
    line-height: 1.5
}

/* .form-check-label {
    margin-bottom: 0
} */

/* .list-wrapper input[type="checkbox"] {
    margin-right: 15px
} */

.form-check .form-check-label input {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  
}

/* input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0
} */

/* .list-wrapper ul li .form-check,
.list-wrapper ul li .form-check .form-check-label,
.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user .u-name,
.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user .u-designation,
.email-wrapper .mail-list-container .mail-list .content .sender-name,
.email-wrapper .message-body .attachments-sections ul li .details p.file-name,
.settings-panel .chat-list .list .info p {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap
} */

/* .form-check .form-check-label input[type="checkbox"]+.input-helper:before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: solid #405189;
    border-width: 2px;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms
} */

/* .form-check .form-check-label input[type="checkbox"]+.input-helper:before,
.form-check .form-check-label input[type="checkbox"]+.input-helper:after {
    position: absolute;
    top: 0;
    left: 0
} */

.form-check .form-check-label input[type="checkbox"]+.input-helper:after {
    /* -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all; */
    /* transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    font-family: Material Design Icons; */
    /* opacity: 0;
    filter: alpha(opacity=0); */
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    /* content: '\F12C'; */
    /* font-size: .9375rem;
    font-weight: bold;
    color: #ffffff */
}

.form-check .form-check-label input[type="checkbox"]+.input-helper:before,
.form-check .form-check-label input[type="checkbox"]+.input-helper:after {
    position: absolute;
    top: 0;
    left: 0
}

.form-check .form-check-label input[type="checkbox"]:checked+.input-helper:before {
    background: rgb(0,112,68, 1);
    border-width: 0
}




.form-check .form-check-label input[type="checkbox"]+.input-helper:before {
    content: "";
    width: 1.125rem; 
    height: 1.125rem;
    border-radius: .125rem;
    border: solid rgb(0,112,68, 1);
    border-width: .125rem;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms
}

/* .form-check .form-check-label input[type="checkbox"]+.input-helper:after {
    font-family: FontAwesome;
    content: "\f095";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    color: #fff
} */

/* .text-primary,
.list-wrapper .completed .remove {
    color: hsl(226, 36%, 39%) !important
} */

.list-wrapper .remove {
    cursor: pointer;
    font-size: 1.438rem;
    font-weight: 600;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    
}

.ml-auto,
.list-wrapper .remove,
.mx-auto {
    margin-left: auto !important
}

/* .mdi-close-circle-outline:before {
    content: "\F15A"
} */

/* .list-wrapper ul li {
    font-size: .9375rem;
    padding: .4rem 0;
    border-bottom: 1px solid #f3f3f3
} */

.mdi:before {
    font-family: FontAwesome;
    content: "\f00d";
    display: inline-block;
    padding-right: .188rem;
    vertical-align: middle;
    font-size: .756em;
    color: rgb(0,112,68, 1)
}

/* .list-wrapper ul {
    padding: 0;
    text-align: left;
    list-style: none;
    margin-bottom: 0
} */

/* .flex-column-reverse {
    flex-direction: column-reverse !important
} */


.list-wrapper ul li{
    display: flex 
} 